extends layout.pug

block content
  h2 Answer these questions so that we know what character fits you best!
  form 
    h4 What type of character do you prefer?
    .buttonHolder  
      button.btn.btn-dark(type='button') Character that is quick, and likes to hit and run
      button.btn.btn-dark(type='button') Character that relies on long and flashy combos 
    
