extends layout.pug

block content
  h2 Answer these questions so that we know what character fits you best!
  form 
    h4 What type of character do you prefer?
    .buttonHolder  
      button.btn.btn-dark(onclick="window.location.href = '/characterList1';" type='button') Character that is quick, and likes to hit and run
      button.btn.btn-dark(onclick="window.location.href = '/characterList2';" type='button') Character that relies on long and flashy combos 
    
