extends layout.pug

block content
  h4 Finally choose the character that you're the most interested in!
  .characterDiv
    img#YoungLink(src='https://www.ssbwiki.com/images/thumb/8/8a/Young_Link_SSBU.png/250px-Young_Link_SSBU.png')
    h5 Young Link
    button#summaryYoungLink.btn.btn-dark(type='button' style="float:left") 
      | Summary
    button#chooseYoungLink.btn.btn-dark(type='button' style="float:right" data-name='YoungLink') 
      | Choose
  .characterDiv
    img#Snake(src='https://www.ssbwiki.com/images/thumb/0/02/Snake_SSBU.png/250px-Snake_SSBU.png')
    h5 Snake
    button#summarySnake.btn.btn-dark(type='button' style="float:left") 
      | Summary
    button#chooseSnake.btn.btn-dark(type='button' style="float:right" data-name='Snake') 
      | Choose
  .characterDiv
    img#Simon(src='https://www.ssbwiki.com/images/thumb/9/95/Simon_SSBU.png/250px-Simon_SSBU.png')
    h5 Simon
    button#summarySimon.btn.btn-dark(type='button' style="float:left") 
      | Summary
    button#chooseSimon.btn.btn-dark(type='button' style="float:right" data-name='Simon') 
      | Choose
  
  #youngLinkModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Young Link Summary
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p He's back after 17 years! Young Link is faster than Link but he's also lighter, making him easier to launch. He can rely on both combo-oriented playstyles but also a campy playstyle, making him a very adaptable character.
        .modal-footer
          button.btn.btn-dark(type='button' data-dismiss="modal") Thanks!
          
  #snakeModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Snake Summary
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p Back by popular demand, Snake brings a ranged fighting style unlike any other fighter in the game. Being a heavy weight allows Snake to survive attacks more than most. And his projectiles will pile on the damage as you try to avoid explosion after explosion!
        .modal-footer
          button.btn.btn-dark(type='button' data-dismiss="modal") Thanks!
          
  #simonModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Simon Summary
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p Simon Belmont is the protagonist of Castlevania. He uses his holy whip, Vampire Killer, to perform a smash attack with long reach. He also uses projectiles like an axe, holy water, and cross. He is constantly out zoning you with his barrage of projectiles and can kill with long reach.
        .modal-footer
          button.btn.btn-dark(type='button' data-dismiss="modal") Thanks!
