extends layout.pug

block content
  h4 Finally choose the character that you're the most interested in!
  .characterDiv
    img#Yoshi(src='https://www.ssbwiki.com/images/thumb/8/8d/Yoshi_SSBU.png/250px-Yoshi_SSBU.png')
    h5 Yoshi
    button#summaryYoshi.btn.btn-dark(type='button' style="float:left") 
      | Summary
    button#chooseYoshi.btn.btn-dark(type='button' style="float:right" data-name='Yoshi') 
      | Choose
  .characterDiv
    img#Jigglypuff(src='https://www.ssbwiki.com/images/thumb/6/6a/Jigglypuff_SSBU.png/250px-Jigglypuff_SSBU.png')
    h5 Jigglypuff
    button#summaryJigglypuff.btn.btn-dark(type='button' style="float:left") 
      | Summary
    button#chooseJigglypuff.btn.btn-dark(type='button' style="float:right" data-name='Jigglypuff') 
      | Choose
  .characterDiv
    img#PirahnaPlant(src='https://www.ssbwiki.com/images/thumb/f/f0/Piranha_Plant_SSBU.png/250px-Piranha_Plant_SSBU.png')
    h5 Pirahna Plant
    button#summaryPirahnaPlant.btn.btn-dark(type='button' style="float:left") 
      | Summary
    button#choosePirahnaPlant.btn.btn-dark(type='button' style="float:right" data-name='PirahnaPlant') 
      | Choose

  #yoshiModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Yoshi Summary
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p Yoshi is all about egg-related moves, like throwing eggs, swallowing opponents and turning them into eggs, or turning into an egg and charging toward an opponent. With a high jump, recovery is a piece of cake for Yoshi! He has priority in many of his moves and can be combo oriented. 
        .modal-footer
          button.btn.btn-dark(type='button' data-dismiss="modal") Cool!
  
  #jigglypuffModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Jigglypuff Summary
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p Jigglypuff can jump 5 times in the air and can move faster in the air than on the ground. Use Jigglypuff's great aerial ability to overwhelm your opponent! If you manage to land the down special Rest, you can powerfully launch your opponent. Jigglypuff's best skill is to edgeguard.
        .modal-footer
          button.btn.btn-dark(type='button' data-dismiss="modal") Cool!
  
  #pirahnaPlantModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Pirahna Plant Summary
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p Pirahna Plant is a DLC character that relies on its special moves to trap and out maneuver their opponent. With its scary spikeball and poisonous gas cloud that could potentially do up to 70% damage, you don't want to play recklessly against this fighter. 
        .modal-footer
          button.btn.btn-dark(type='button' data-dismiss="modal") Cool!
