extends layout.pug

block content
  h2 Answer these questions so that we know what character fits you best!
  form 
    h4 How do you usually play Smash Bros.? How do you prefer to fight?
    button.btn.btn-dark(type='button') Aggressive
    button.btn.btn-dark(type='button') Passive
    button.btn.btn-dark(type='button') In Between
  


  
