extends layout.pug

block content
  h4 Finally choose the character that you're the most interested in!
  .characterDiv
    img#DonkeyKong(src='https://www.ssbwiki.com/images/thumb/c/c9/Donkey_Kong_SSBU.png/250px-Donkey_Kong_SSBU.png')
    h5 Donkey Kong
    button#summaryDonkeyKong.btn.btn-dark(type='button' style="float:left") 
      | Summary
    button#chooseDonkeyKong.btn.btn-dark(type='button' style="float:right" data-name='DonkeyKong') 
      | Choose
  .characterDiv
    img#Ganondorf(src='https://www.ssbwiki.com/images/thumb/9/91/Ganondorf_SSBU.png/250px-Ganondorf_SSBU.png')
    h5 Ganondorf
    button#summaryGanondorf.btn.btn-dark(type='button' style="float:left") 
      | Summary
    button#chooseGanondorf.btn.btn-dark(type='button' style="float:right" data-name='Ganondorf') 
      | Choose
  .characterDiv
    img#KingKRool(src='https://www.ssbwiki.com/images/thumb/b/b6/King_K._Rool_SSBU.png/250px-King_K._Rool_SSBU.png')
    h5 King K. Rool
    button#summaryKingKRool.btn.btn-dark(type='button' style="float:left") 
      | Summary
    button#chooseKingKRool.btn.btn-dark(type='button' style="float:right" data-name='KingKRool') 
      | Choose

  #donkeyKongModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Donkey Kong Summary
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p Donkey Kong is a heavy character that can not only pack a punch, but can rack up the damage with easy to do combos. His charged punch is one of the strongest attacks in the game! And he has many devestating spikes that can put any player into the ground.
        .modal-footer
          button.btn.btn-dark(type='button' data-dismiss="modal") Thanks!
          
  #ganondorfModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Ganondorf Summary
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p Ganondorf is a formiddle foe that is known to take out stocks and kill opponents who are at 30%. With crazy kill power, high knock back with long ranged attacks, Ganondorf is an opponent that demands respect will all attacks. 
        .modal-footer
          button.btn.btn-dark(type='button' data-dismiss="modal") Thanks!
          
  #kingKRoolModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title King K. Rool Summary
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p King K. Rool is one of the most well-rounded heavy characters. He has very powerful attacks with super armor allowing him to go through any move. With long-distance special moves like the Blunderbuss, and counter moves like Stomach Attack, he is a versatile fighter.
        .modal-footer
          button.btn.btn-dark(type='button' data-dismiss="modal") Thanks!
