extends layout.pug

block content
  h4 Finally choose the character that you're the most interested in!
  .characterDiv
    img#Marth(src='https://www.ssbwiki.com/images/thumb/e/e9/Marth_SSBU.png/250px-Marth_SSBU.png')
    h5 Marth
    button#summaryMarth.btn.btn-dark(type='button' style="float:left") 
      | Summary
    button#chooseMarth.btn.btn-dark(type='button' style="float:right" data-name='Marth') 
      | Choose
  .characterDiv
    img#Olimar(src='https://www.ssbwiki.com/images/thumb/b/b3/Olimar_SSBU.png/250px-Olimar_SSBU.png')
    h5 Olimar
    button#summaryOlimar.btn.btn-dark(type='button' style="float:left") 
      | Summary
    button#chooseOlimar.btn.btn-dark(type='button' style="float:right" data-name='Olimar') 
      | Choose
  .characterDiv
    img#Cloud(src='https://www.ssbwiki.com/images/thumb/b/b3/Cloud_SSBU.png/250px-Cloud_SSBU.png')
    h5 Cloud
    button#summaryCloud.btn.btn-dark(type='button' style="float:left") 
      | Summary
    button#chooseCloud.btn.btn-dark(type='button' style="float:right" data-name='Cloud') 
      | Choose

  #marthModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Marth Summary
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p Posting on BLUE.IT is really easy! Simply fill all the information in the form. To fill the Image box, copy and paste the URL of an image. For the categories, pick a category that fits best with what you are posting!
        .modal-footer
          button.btn.btn-dark(type='button' data-dismiss="modal") Thanks!
          
  #olimarModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Olimar Summary
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p Posting on BLUE.IT is really easy! Simply fill all the information in the form. To fill the Image box, copy and paste the URL of an image. For the categories, pick a category that fits best with what you are posting!
        .modal-footer
          button.btn.btn-dark(type='button' data-dismiss="modal") Thanks!
          
  #cloudModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Cloud Summary
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p Posting on BLUE.IT is really easy! Simply fill all the information in the form. To fill the Image box, copy and paste the URL of an image. For the categories, pick a category that fits best with what you are posting!
        .modal-footer
          button.btn.btn-dark(type='button' data-dismiss="modal") Thanks!
