extends layout.pug

block content
  h4 Finally choose the character that you're the most interested in!
  .characterDiv
    img(src='https://www.ssbwiki.com/images/thumb/4/44/Mario_SSBU.png/250px-Mario_SSBU.png')
    h5 Mario
    button#summaryMario.btn.btn-dark(type='button' style="float:left") 
      | Summary
    button#choose.btn.btn-dark(type='button' style="float:right") 
      | Choose
  .characterDiv
    img(src='https://www.ssbwiki.com/images/thumb/0/00/Sheik_SSBU.png/250px-Sheik_SSBU.png')
    h5 Sheik
    button#summarySheik.btn.btn-dark(type='button' style="float:left") 
      | Summary
    button#choose.btn.btn-dark(type='button' style="float:right") 
      | Choose
  .characterDiv
    img(src='https://www.ssbwiki.com/images/thumb/7/7c/Bayonetta_SSBU.png/240px-Bayonetta_SSBU.png')
    h5 Bayonetta
    button#summaryBayonetta.btn.btn-dark(type='button' style="float:left") 
      | Summary
    button#choose.btn.btn-dark(type='button' style="float:right") 
      | Choose
  
  #marioModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Mario Summary
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p Posting on BLUE.IT is really easy! Simply fill all the information in the form. To fill the Image box, copy and paste the URL of an image. For the categories, pick a category that fits best with what you are posting!
        .modal-footer
          button.btn.btn-dark(type='button' data-dismiss="modal") Thanks!
          
  #sheikModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Sheik Summary
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p Posting on BLUE.IT is really easy! Simply fill all the information in the form. To fill the Image box, copy and paste the URL of an image. For the categories, pick a category that fits best with what you are posting!
        .modal-footer
          button.btn.btn-dark(type='button' data-dismiss="modal") Thanks!
          
  #bayonettaModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Bayonetta Summary
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p Posting on BLUE.IT is really easy! Simply fill all the information in the form. To fill the Image box, copy and paste the URL of an image. For the categories, pick a category that fits best with what you are posting!
        .modal-footer
          button.btn.btn-dark(type='button' data-dismiss="modal") Thanks!
