extends layout.pug

block content
  h4 Finally choose the character that you're the most interested in!
  .characterDiv
    img#Mario(src='https://www.ssbwiki.com/images/thumb/4/44/Mario_SSBU.png/250px-Mario_SSBU.png')
    h5 Mario
    button#summaryMario.btn.btn-dark(type='button' style="float:left") 
      | Summary
    button#chooseMario.btn.btn-dark(type='button' style="float:right" data-name='Mario') 
      | Choose
  .characterDiv
    img#Sheik(src='https://www.ssbwiki.com/images/thumb/0/00/Sheik_SSBU.png/250px-Sheik_SSBU.png')
    h5 Sheik
    button#summarySheik.btn.btn-dark(type='button' style="float:left") 
      | Summary
    button#chooseSheik.btn.btn-dark(type='button' style="float:right" data-name='Sheik') 
      | Choose
  .characterDiv
    img#Bayonetta(src='https://www.ssbwiki.com/images/thumb/7/7c/Bayonetta_SSBU.png/240px-Bayonetta_SSBU.png')
    h5 Bayonetta
    button#summaryBayonetta.btn.btn-dark(type='button' style="float:left") 
      | Summary
    button#chooseBayonetta.btn.btn-dark(type='button' style="float:right" data-name='Bayonetta') 
      | Choose
  
  #marioModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Mario Summary
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p Mario is an all-around fighter who uses his wide variety of techniques to respond to any situation. He can have many playstyles, but he has very good combo potential, able to attack opponents up to 70% in just one string!
        .modal-footer
          button.btn.btn-dark(type='button' data-dismiss="modal") Thanks!
          
  #sheikModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Sheik Summary
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p  Sheik is a character that can combo characters with more than ten hits. Constantly moving and weaving around their opponent, Sheik is a character that can keep the pressure on your opponent by using his speedy dash! You can quickly close in or get out of situations.
          button.btn.btn-dark(type='button' data-dismiss="modal") Thanks!
          
  #bayonettaModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Bayonetta Summary
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p An Umbra Witch who equips guns on her arms and legs, Bayonetta has mastered the beautiful but brutal Bullet Arts fighting style. Not only does she have moves that naturally combo into each other, but these combos can carry opponents straight to the blastzone. She can even slow down her opponents with Witch Time!
        .modal-footer
          button.btn.btn-dark(type='button' data-dismiss="modal") Thanks!
