extends layout.pug

block content
  h4 Finally choose the character that you're the most interested in!
  .characterDiv
    img#Marth(src='https://www.ssbwiki.com/images/thumb/e/e9/Marth_SSBU.png/250px-Marth_SSBU.png')
    h5 Marth
    button#summaryMarth.btn.btn-dark(type='button' style="float:left") 
      | Summary
    button#chooseMarth.btn.btn-dark(type='button' style="float:right" data-name='Marth') 
      | Choose
  .characterDiv
    img#Olimar(src='https://www.ssbwiki.com/images/thumb/b/b3/Olimar_SSBU.png/250px-Olimar_SSBU.png')
    h5 Olimar
    button#summaryOlimar.btn.btn-dark(type='button' style="float:left") 
      | Summary
    button#chooseOlimar.btn.btn-dark(type='button' style="float:right" data-name='Olimar') 
      | Choose
  .characterDiv
    img#Cloud(src='https://www.ssbwiki.com/images/thumb/b/b3/Cloud_SSBU.png/250px-Cloud_SSBU.png')
    h5 Cloud
    button#summaryCloud.btn.btn-dark(type='button' style="float:left") 
      | Summary
    button#chooseCloud.btn.btn-dark(type='button' style="float:right" data-name='Cloud') 
      | Choose

  #marthModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Marth Summary
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p Marth is an exceptional swordfighter with a long reach. He'll do the most damage with attacks using the tip of his sword, so spacing is an important factor. With smash attacks that can kill at low percents and a special move that can break your shield in one hit, Marth is a great character to out range opponents.
        .modal-footer
          button.btn.btn-dark(type='button' data-dismiss="modal") Cool!
          
  #olimarModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Olimar Summary
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p Captain Olimar battles by issuing commands to various types of Pikmin under his control. Pikmin come in different colors that correspond to different abilities. A tough character to learn how to play as you have to organize pikin to fit the needs of your fight, but the payoff is great in the end!
        .modal-footer
          button.btn.btn-dark(type='button' data-dismiss="modal") Cool!
          
  #cloudModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Cloud Summary
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p Cloud is the protagonist of Final Fantasy VII. Charging up his Limit Gauge using his down special increases his special move abilities! Land powerful hits that will deal massive damage. He uses a sword to out-space his opponents and has good kill options.
        .modal-footer
          button.btn.btn-dark(type='button' data-dismiss="modal") Cool!
