extends layout.pug

block content
  h4 Finally choose the character that you're the most interested in!
  .characterDiv
    img(src='https://www.ssbwiki.com/images/thumb/2/28/Pok%C3%A9mon_Trainer_%28solo%29_SSBU.png/300px-Pok%C3%A9mon_Trainer_%28solo%29_SSBU.png')
    h5 Pokemon Trainer
    button#summaryPokemonTrainer.btn.btn-dark(type='button' style="float:left") 
      | Summary
    button#choose.btn.btn-dark(type='button' style="float:right") 
      | Choose
  .characterDiv
    img(src='https://www.ssbwiki.com/images/thumb/0/0f/Shulk_SSBU.png/250px-Shulk_SSBU.png')
    h5 Shulk
    button#summaryShulk.btn.btn-dark(type='button' style="float:left") 
      | Summary
    button#choose.btn.btn-dark(type='button' style="float:right") 
      | Choose
  .characterDiv
    img(src='https://www.ssbwiki.com/images/thumb/5/5c/Joker_SSBU.png/500px-Joker_SSBU.png')
    h5 Joker
    button#summaryJoker.btn.btn-dark(type='button' style="float:left") 
      | Summary
    button#choose.btn.btn-dark(type='button' style="float:right") 
      | Choose

  #pokemonTrainerModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Pokemon Trainer Summary
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p Posting on BLUE.IT is really easy! Simply fill all the information in the form. To fill the Image box, copy and paste the URL of an image. For the categories, pick a category that fits best with what you are posting!
        .modal-footer
          button.btn.btn-dark(type='button' data-dismiss="modal") Thanks!
  
  #shulkModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Shulk Summary
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p Posting on BLUE.IT is really easy! Simply fill all the information in the form. To fill the Image box, copy and paste the URL of an image. For the categories, pick a category that fits best with what you are posting!
        .modal-footer
          button.btn.btn-dark(type='button' data-dismiss="modal") Thanks!
  
  #jokerModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Joker Summary
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p Joker is a medium-lightweight character with fast ground mobility, a quick fast fall and the ability to wall jump. He possesses fast frame data overall. He specializes in a mixed tricky/rushdown style gameplay, as the majority of his arsenal boasts powerful traits, though the range on his standard attacks is lacking without Arsene available.
        .modal-footer
          button.btn.btn-dark(type='button' data-dismiss="modal") Thanks!
