extends layout.pug

block content
  h4 Finally choose the character that you're the most interested in!
  .characterDiv
    img(src='https://www.ssbwiki.com/images/thumb/8/8a/Young_Link_SSBU.png/250px-Young_Link_SSBU.png')
    h5 Young Link
    button#summaryYoungLink.btn.btn-dark(type='button' style="float:left") 
      | Summary
    button#choose.btn.btn-dark(type='button' style="float:right") 
      | Choose
  .characterDiv
    img(src='https://www.ssbwiki.com/images/thumb/0/02/Snake_SSBU.png/250px-Snake_SSBU.png')
    h5 Snake
    button#summarySnake.btn.btn-dark(type='button' style="float:left") 
      | Summary
    button#choose.btn.btn-dark(type='button' style="float:right") 
      | Choose
  .characterDiv
    img(src='https://www.ssbwiki.com/images/thumb/9/95/Simon_SSBU.png/250px-Simon_SSBU.png')
    h5 Simon
    button#summarySimon.btn.btn-dark(type='button' style="float:left") 
      | Summary
    button#choose.btn.btn-dark(type='button' style="float:right") 
      | Choose
  
  #youngLinkModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Young Link Summary
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p Posting on BLUE.IT is really easy! Simply fill all the information in the form. To fill the Image box, copy and paste the URL of an image. For the categories, pick a category that fits best with what you are posting!
        .modal-footer
          button.btn.btn-primary(type='button' data-dismiss="modal") Thanks!
          
  #snakeModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Snake Summary
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p Posting on BLUE.IT is really easy! Simply fill all the information in the form. To fill the Image box, copy and paste the URL of an image. For the categories, pick a category that fits best with what you are posting!
        .modal-footer
          button.btn.btn-primary(type='button' data-dismiss="modal") Thanks!
          
  #simonModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Simon Summary
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p Posting on BLUE.IT is really easy! Simply fill all the information in the form. To fill the Image box, copy and paste the URL of an image. For the categories, pick a category that fits best with what you are posting!
        .modal-footer
          button.btn.btn-primary(type='button' data-dismiss="modal") Thanks!
