extends layout.pug

block content
  h4 Finally choose the character that you're the most interested in!
  .characterDiv
    img(src='https://www.ssbwiki.com/images/thumb/4/44/Mario_SSBU.png/250px-Mario_SSBU.png')
    h5 Mario
  .characterDiv
    img(src='https://www.ssbwiki.com/images/thumb/0/00/Sheik_SSBU.png/250px-Sheik_SSBU.png')
    h5 Sheik
  .characterDiv
    img(src='https://www.ssbwiki.com/images/thumb/7/7c/Bayonetta_SSBU.png/240px-Bayonetta_SSBU.png')
    h5 Bayonetta
