extends layout.pug

block content
  h4 Finally choose the character that you're the most interested in!
  .characterDiv
    img(src='https://www.ssbwiki.com/images/thumb/8/8d/Yoshi_SSBU.png/250px-Yoshi_SSBU.png')
    h5 Yoshi
    button#summaryYoshi.btn.btn-dark(type='button' style="float:left") 
      | Summary
    button#choose.btn.btn-dark(type='button' style="float:right") 
      | Choose
  .characterDiv
    img(src='https://www.ssbwiki.com/images/thumb/6/6a/Jigglypuff_SSBU.png/250px-Jigglypuff_SSBU.png')
    h5 Jigglypuff
    button#summaryJigglypuff.btn.btn-dark(type='button' style="float:left") 
      | Summary
    button#choose.btn.btn-dark(type='button' style="float:right") 
      | Choose
  .characterDiv
    img(src='https://www.ssbwiki.com/images/thumb/f/f0/Piranha_Plant_SSBU.png/250px-Piranha_Plant_SSBU.png')
    h5 Pirahna Plant
    button#summaryPirahnaPlant.btn.btn-dark(type='button' style="float:left") 
      | Summary
    button#choose.btn.btn-dark(type='button' style="float:right") 
      | Choose

  #yoshiModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Yoshi Summary
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p Posting on BLUE.IT is really easy! Simply fill all the information in the form. To fill the Image box, copy and paste the URL of an image. For the categories, pick a category that fits best with what you are posting!
        .modal-footer
          button.btn.btn-dark(type='button' data-dismiss="modal") Thanks!
  
  #jigglypuffModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Jigglypuff Summary
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p Posting on BLUE.IT is really easy! Simply fill all the information in the form. To fill the Image box, copy and paste the URL of an image. For the categories, pick a category that fits best with what you are posting!
        .modal-footer
          button.btn.btn-dark(type='button' data-dismiss="modal") Thanks!
  
  #pirahnaPlantModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Pirahna Plant Summary
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p Posting on BLUE.IT is really easy! Simply fill all the information in the form. To fill the Image box, copy and paste the URL of an image. For the categories, pick a category that fits best with what you are posting!
        .modal-footer
          button.btn.btn-dark(type='button' data-dismiss="modal") Thanks!
