extends layout.pug

block content
  h4 Finally choose the character that you're the most interested in!
  .characterDiv
    img(src='https://img.rankedboost.com/wp-content/plugins/super-smash-bros-ultimate/assets/character-images-main/Pikachu_SSBU.png')  
    h5 Pikachu
  .characterDiv 
    img(src='https://www.ssbwiki.com/images/thumb/5/53/Little_Mac_SSBU.png/250px-Little_Mac_SSBU.png')
    h5 Little Mac
  .characterDiv
    img(src='https://www.ssbwiki.com/images/thumb/b/ba/Sonic_SSBU.png/250px-Sonic_SSBU.png')
    h5 Sonic
    
