extends layout.pug

block content        
  h4 Finally choose the character that you're the most interested in!
  .characterDiv
    img#Pikachu(src='https://img.rankedboost.com/wp-content/plugins/super-smash-bros-ultimate/assets/character-images-main/Pikachu_SSBU.png')  
    h5 Pikachu
    button#summaryPikachu.btn.btn-dark(type='button' style="float:left") 
      | Summary
    button#choosePikachu.btn.btn-dark(type='button' style="float:right" data-name='Pikachu') 
      | Choose
  .characterDiv 
    img#LittleMac(src='https://www.ssbwiki.com/images/thumb/5/53/Little_Mac_SSBU.png/250px-Little_Mac_SSBU.png')
    h5 Little Mac
    button#summaryLittleMac.btn.btn-dark(type='button' style="float:left") 
      | Summary
    button#chooseLittleMac.btn.btn-dark(type='button' style="float:right" data-name='LittleMac') 
      | Choose
  .characterDiv
    img#Sonic(src='https://www.ssbwiki.com/images/thumb/b/ba/Sonic_SSBU.png/250px-Sonic_SSBU.png')
    h5 Sonic
    button#summarySonic.btn.btn-dark(type='button' style="float:left") 
      | Summary
    button#chooseSonic.btn.btn-dark(type='button' style="float:right" data-name='Sonic') 
      | Choose
  
  #pikachuModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Pikachu Summary
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p This fierce fighter uses electric moves like Thunder Jolt and Thunder. A small opponent to fight that is very hard to attack and combo, Pikacu has very high combo potential and usually uses hit and run tactics tanks to its up special, Quick Attack!
        .modal-footer
          button.btn.btn-dark(type='button' data-dismiss="modal") Thanks!
  
  #littleMacModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Little Mac Summary
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p As a boxer, Little Mac fights with his fists alone—no kicks! When his Power Meter fills up, he can use a special KO Uppercut, which can really turn a battle around. He has very poor recovery so you are going to have to watch when you attack your opponent. 
        .modal-footer
          button.btn.btn-dark(type='button' data-dismiss="modal") Thanks!
  
  #sonicModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Sonic Summary
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          p Sonic is the fastest character in the game, able to outspeed and pressure most characters. This speedy fighter has a lot of rush-type attacks. Sonic does not have many combos so you just have to keep on piling the pressure! Uhhhh...Meow????
        .modal-footer
          button.btn.btn-dark(type='button' data-dismiss="modal") Thanks!
