extends layout.pug
block content
  .userDiv
    h5 Welcome, #{user.username}
    h2 Your character is #{user.character}
    img(src = user.characterURL)
    h5 Learn new #{user.character} strats here!
    .buttonHolder2
      button.btn.btn-dark(onclick="window.location.href = '" + user.character + "';" type='button') STRATS
