extends layout.pug

block content
  h2 Answer these questions so that we know what character fits you best!
  form 
    h4 What type of character do you prefer?
    .buttonHolder  
      button.btn.btn-dark(onclick="window.location.href = '/characterList5';" type='button') Character that can space out other with range
      button.btn.btn-dark(onclick="window.location.href = '/characterList6';" type='button') Character that is very evasive 
      button.btn.btn-dark(onclick="window.location.href = '/characterList7';" type='button') Character that has a unique ability
